<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
    <title>Form Elements | PlainAdmin Demo</title>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css'>
     <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css'><link rel="stylesheet" href="./style.css">
     <style>
        #progressbar {
          display: flex;
          list-style: none;
          justify-content: space-between;
          padding: 0; /* Remove default padding */
          margin: 0;  /* Remove default margin */
        }
      
        #progressbar li {
          flex: 1; /* Each item gets equal space */
          text-align: center;
        
          position: relative;
          cursor: pointer;
          font-size: 14px;
          line-height: 1.5;
        }
      
        #progressbar li:before {
          content: '';
          width: 10px;
          height: 10px;
          background-color: #ddd;
          border-radius: 50%;
          display: block;
          margin: 0 auto 5px auto;
        }
      
        #progressbar li.active:before {
          background-color: #007bff;
        }
      
        #progressbar li.active {
          color: #007bff;
          font-weight: bold;
        }
      </style>
      
    <!-- ========== All CSS files linkup ========= -->
    {% load static %}

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/multistep.css' %}" />
  </head>
  <body>
    <!-- ======== Preloader =========== -->
    <div id="preloader">
      <div class="spinner"></div>
    </div>

    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->
    {% include 'pages/sidebar.html' %}
    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->
      {% include 'pages/header.html' %}
      <!-- ========== header end ========== -->

      <!-- ========== tab components start ========== -->
      <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                   
                </div>
                <section class="multi_step_form">  
                  
                    <form id="msform" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}
                        <div class="tittle">
                            <h2>Information de l'employe</h2>
                            <p>Remplissez toutes les informations écrites en rouge </p>
                        </div>
                        <ul id="progressbar">
                            <li class="active">informations personnelles</li>  
                            <li>informations personnelles</li> 
                            <li>information de contrat</li>
                            <li>Résumé et Confirmation</li> 
                        </ul>
                
                        <fieldset>
                            <h3>Informations Personnelles</h3>
                            <h6>Veuillez saisir vos informations personnelles.</h6>
                            <div class="form-row"> 
                                <div class="form-group col-md-6">  
                                    <label for="lastname">Nom</label>
                                    <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Nom" required>
                                </div>  
                                <div class="form-group col-md-6">  
                                    <label for="firstname">Prénom</label>
                                    <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Prénom" required>
                                </div>  
                            </div> 
                            <div class="form-row"> 
                                <div class="form-group col-md-6">  
                                    <label for="birth_date">Date de naissance</label>
                                    <input type="date" name="birth_date" class="form-control" id="birth_date" required>
                                </div>  
                                <div class="form-group col-md-6"> 
                                    <label for="gendre">Sexe</label>
                                    <select name="gendre" class="product_select" id="gendre" required>
                                        <option value="" disabled selected>Choisir le sexe</option> 
                                        <option value="male">Homme</option>
                                        <option value="female">Femme</option> 
                                    </select>
                                </div> 
                            </div> 
                            <div class="form-row"> 
                                <div class="form-group col-md-6">  
                                    <label for="phone">Téléphone</label>
                                    <input id="phone" name="phone" class="form-control" placeholder="+213" required> 
                                </div>  
                                <div class="form-group col-md-6"> 
                                    <label for="adress">Adresse de naissance</label>
                                    <input type="text" name="birth_address" class="form-control" id="adress" placeholder="Adresse" required>
                                </div> 
                            </div> 
                            <div class="form-row"> 
                                <div class="form-group col-md-6"> 
                                    <label for="adress">Adresse</label>
                                    <input type="text" name="adress" class="form-control" id="adress" placeholder="Adresse" required>
                                </div> 
                                <div class="form-group col-md-6">  
                                    <label for="situation">Situation</label>
                                    <select name="situation" class="product_select" id="situation" required>
                                        <option value="" disabled selected>Choisir la situation</option>
                                        <option value="divorce">Divorcé</option>
                                        <option value="married">Marié</option> 
                                        <option value="single">Célibataire</option> 
                                        <option value="widow">Veuf</option> 
                                    </select>
                                </div>  
                               
                            </div> 
                            <button type="button" class="previous action-button">Retour</button>
                            <button type="button" class="next action-button">Continuer</button>  
                        </fieldset>
                
                        <fieldset>
                            <h3>Informations personnelles.</h3>
                            <h6>Veuillez saisir vos informations personnelles.</h6>
                            <div class="form-row"> 
                                <div class="form-group col-md-6"> 
                                    <label for="nbr_child">Nombre d'enfants</label>
                                    <input type="number" name="nbr_child" class="form-control" id="nbr_child" placeholder="Nombre d'enfants" required>
                                </div> 
                                <div class="form-group col-md-6">  
                                    <label for="blood_type">Groupe Sanguin</label>
                                    <select name="blood_type" class="product_select" id="blood_type" required>
                                        <option value="" disabled selected>Choisir le groupe sanguin</option>
                                        <option value="A-">A-</option> 
                                        <option value="A+">A+</option> 
                                        <option value="O+">O+</option> 
                                        <option value="O-">O-</option> 
                                        <option value="AB-">AB-</option> 
                                        <option value="AB+">AB+</option> 
                                        <option value="B+">B+</option> 
                                        <option value="B-">B-</option> 
                                    </select>
                                </div>  
                                
                            </div> 
                            <div class="form-row"> 
                                <div class="form-group col-md-6">  
                                    <label for="num_ss">Numéro d'assurance</label>
                                    <input type="text" name="num_ss" class="form-control" id="num_ss" placeholder="Numéro d'assurance" required>
                                </div>  
                                <div class="form-group col-md-6">  
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                                </div>  
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6"> 
                                    <label for="num_carte">Numéro de la carte</label>
                                    <input type="text" name="num_carte" class="form-control" id="num_carte" placeholder="Numéro de la carte" required>
                                </div> 
                               
                                   
                                <div class="form-group col-md-6">  
                                    <label for="num_carte">Type</label>
                                    <select name="type" class="product_select" id="contrat_type" required>
                                        <option value="" disabled selected>Type d'employé</option>
                                        <option value="Manager">Secretaire</option> 
                                        <option value="Secretaire">Manager</option> 
                                        <option value="Admin">Admin</option> 
                                    </select>
                                </div> 
                               
                                    <div class="form-group col-md-6"> 
                                        <label for="num_carte">role</label>
                                        <input type="role" name="role" class="form-control" id="role" placeholder="role" required>
                                    </div>
                                <div class="form-group col-md-6">  
                                    <label for="num_carte">departement</label>
                                    <select name="departement" class="product_select" id="departement" required>
                                        <option value="" disabled selected>Type de departement</option>
                                        <option value="Marketing">Marketing</option> 
                                        <option value="TI">TI</option> 
                                        <option value="Production">Production</option> 
                                    </select>
                                    
                                </div> 
                                
                            </div>
                            <button type="button" class="previous action-button">Retour</button>
                            <button type="button" class="next action-button">Continuer</button>  
                        </fieldset>  
                
                        <fieldset>
                            <h3>Détails du Contrat</h3>
                            <h6>Veuillez saisir vos informations contractuelles.</h6> 
                            <div class="form-row"> 
                                <div class="form-group col-md-6">  
                                    <label for="contrat_type">Type de contrat</label>
                                    <select name="contrat_type" class="product_select" id="contrat_type" required>
                                        <option value="" disabled selected>Choisir le type de contrat</option>
                                        <option value="CDI">CDI</option> 
                                        <option value="CDD">CDD</option> 
                                        <option value="Contrat d'Apprentissage">Contrat d'Apprentissage</option>
                                        <option value="Contrat de Professionnalisation">Contrat de Professionnalisation</option> 
                                        <option value="Contrat à Temps Partiel">Contrat à Temps Partiel</option> 
                                        <option value="Contrat d'Intérim">Contrat d'Intérim</option> 
                                        <option value="Contrat de Stage">Contrat de Stage  </option> 
                                        <option value="Contrat d'Insertion">Contrat d'Insertion </option> 
                        
                                    </select>
                                </div> 
                                <div class="form-group col-md-6">  
                                    <label for="start_date">Date de recrutement</label>
                                    <input type="date" name="start_date" class="form-control" id="start_date" required>
                                </div>  
                            </div> 
                            <div class="form-row"> 
                                <div class="form-group col-md-6">  
                                    <label for="end_date">Date de fin de recrutement </label>
                                    <input type="date" name="end_date" class="form-control" id="end_date" required>
                                </div>  
                                <div class="form-group col-md-6">  
                                    <label for="salary_amount">Montant du salaire</label>
                                    <input type="number" name="salary_amount" class="form-control" id="salary_amount" placeholder="Montant du salaire" required>
                                </div>  
                            </div> 
                            <div class="form-row"> 
                                <div class="form-group col-md-6">  
                                    <label for="status">Statut</label>
                                    <select name="status" class="product_select" id="status" required>
                                        <option value="" disabled selected>Statut</option>
                                        <option value="active">Active</option> 
                                        <option value="inactive">Inactive</option> 
                                    </select>
                                </div>  
                                <div class="form-group col-md-6">  
                                    <label for="function">intitulé du poste</label>
                                    <input type="job_title" name="job_title" class="form-control" id="job_title" placeholder="intitulé du poste" required>
                                </div>
                            
                                
                            </div>
                            <button type="button" class="previous action-button">Retour</button>
                            <button type="button" class="next action-button">Continuer</button>  
                 
                        </fieldset>  
                        <fieldset>
                            <h3>Résumé et Confirmation</h3>
                            <h6>Vérifiez les informations saisies et confirmez.</h6>
                            <div class="form-row"> 
                            <div class="form-group col-md-6">  
                                <label for="function">lieu de travail</label>
                                <input type="text" name="work_location" class="form-control" id="work_location" placeholder="lieu de travail" required>
                            </div> 
                            <div class="form-group col-md-6">  
                                <label for="function">heures de travail</label>
                                <input type="text" name="work_hours" class="form-control" id="work_hours" placeholder="heures de travail" required>
                            </div> 
                            <div class="form-group col-md-6">
                                <label for="contrat_terms">Conditions du contrat</label>
                                <textarea name="contrat_terms" class="form-control" id="contrat_terms" placeholder="Conditions du contrat" rows="4" required></textarea>
                            </div>
                            
                            <div class="form-group col-md-6">  
                                <label for="function">créé le</label>
                                <input type="date" name="created_at" class="form-control" id="created_at" placeholder="créé le" required>
                            </div> 
                            </div>
                            <button type="button" class="previous action-button">Retour</button>
                            <button type="button" class="next action-button">Continuer</button>  
                 
                        </fieldset>


                        <fieldset>
                            <h3>Résumé et Confirmation</h3>
                            <h6>Vérifiez les informations saisies et confirmez.</h6>

                            <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Associer un Utilisateur?</label><br>
                                <input type="radio" id="associate_user_yes" name="associate_user" value="yes" onchange="toggleUserFields()" required>
                                <label for="associate_user_yes">Oui</label>
                                <input type="radio" id="associate_user_no" name="associate_user" value="no" onchange="toggleUserFields()">
                                <label for="associate_user_no">Non</label>
                            </div>
                            </div>
                            <div id="user_fields" style="display: none;">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="username">surnom</label>
                                        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="user_type">Type</label>
                                        <input type="text" name="user_type" class="form-control" id="user_type" placeholder="User Type">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="user_type">mot de passe</label>
                                        <input type="password" name="password" class="form-control" id="password" placeholder="password">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="previous action-button">Retour</button>
                            <button type="submit" class="action-button">Entrer</button>  
                        </fieldset>
                    </form>  
                </section>
                
            </div>  
        </div>
    </div>
    
      
        <!-- end container -->
      </section>
      <!-- ========== tab components end ========== -->
      {% include 'pages/footer.html' %}
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/dynamic-pie-chart.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/fullcalendar.js' %}"></script>
    <script src="{% static 'assets/js/jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/js/world-merc.js' %}"></script>
    <script src="{% static 'assets/js/polyfill.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/js/intlTelInput.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js'></script><script  src="./script.js"></script>
    <script>;(function($) {
      "use strict";  
      
      //* Form js
      function verificationForm(){
          //jQuery time
          var current_fs, next_fs, previous_fs; //fieldsets
          var left, opacity, scale; //fieldset properties which we will animate
          var animating; //flag to prevent quick multi-click glitches
  
          $(".next").click(function () {
              if (animating) return false;
              animating = true;
  
              current_fs = $(this).parent();
              next_fs = $(this).parent().next();
  
              //activate next step on progressbar using the index of next_fs
              $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
  
              //show the next fieldset
              next_fs.show();
              //hide the current fieldset with style
              current_fs.animate({
                  opacity: 0
              }, {
                  step: function (now, mx) {
                      //as the opacity of current_fs reduces to 0 - stored in "now"
                      //1. scale current_fs down to 80%
                      scale = 1 - (1 - now) * 0.2;
                      //2. bring next_fs from the right(50%)
                      left = (now * 50) + "%";
                      //3. increase opacity of next_fs to 1 as it moves in
                      opacity = 1 - now;
                      current_fs.css({
                          'transform': 'scale(' + scale + ')',
                          'position': 'absolute'
                      });
                      next_fs.css({
                          'left': left,
                          'opacity': opacity
                      });
                  },
                  duration: 800,
                  complete: function () {
                      current_fs.hide();
                      animating = false;
                  },
                  //this comes from the custom easing plugin
                  easing: 'easeInOutBack'
              });
          });
  
          $(".previous").click(function () {
              if (animating) return false;
              animating = true;
  
              current_fs = $(this).parent();
              previous_fs = $(this).parent().prev();
  
              //de-activate current step on progressbar
              $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
  
              //show the previous fieldset
              previous_fs.show();
              //hide the current fieldset with style
              current_fs.animate({
                  opacity: 0
              }, {
                  step: function (now, mx) {
                      //as the opacity of current_fs reduces to 0 - stored in "now"
                      //1. scale previous_fs from 80% to 100%
                      scale = 0.8 + (1 - now) * 0.2;
                      //2. take current_fs to the right(50%) - from 0%
                      left = ((1 - now) * 50) + "%";
                      //3. increase opacity of previous_fs to 1 as it moves in
                      opacity = 1 - now;
                      current_fs.css({
                          'left': left
                      });
                      previous_fs.css({
                          'transform': 'scale(' + scale + ')',
                          'opacity': opacity
                      });
                  },
                  duration: 800,
                  complete: function () {
                      current_fs.hide();
                      animating = false;
                  },
                  //this comes from the custom easing plugin
                  easing: 'easeInOutBack'
              });
          });
  
          $(".submit").click(function () {
              return false;
          })
      }; 
      
      //* Add Phone no select
      function phoneNoselect(){
          if ( $('#msform').length ){   
              $("#phone").intlTelInput(); 
              $("#phone").intlTelInput("setNumber", "+880"); 
          };
      }; 
      //* Select js
      function nice_Select(){
          if ( $('.product_select').length ){ 
              $('select').niceSelect();
          };
      }; 
      /*Function Calls*/  
      verificationForm ();
      phoneNoselect ();
      nice_Select ();
  })(jQuery);
  
  
  </script>
  <script>
    function toggleUserFields() {
        const associateUserYes = document.getElementById('associate_user_yes').checked;
        const userFields = document.getElementById('user_fields');
        userFields.style.display = associateUserYes ? 'block' : 'none';
    }
</script>
  </body>
</html> 